<div class="form-group row">
    <label class="col-form-label col-sm-2" for="question">Question :</label>
    <div class="col-sm-7">
      <input autofocus class="form-control" name="question" value="<%= model.question %>" />
    </div>
</div>
  
<div class="form-group row">
    <label class="col-form-label col-sm-2" for="reponse">Réponse :</label>
    <div class="col-sm-7">
      <input class="form-control" name="reponse" value="<%= model.reponse %>" />
    </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="domaine">Domaine :</label>
  <div class="col-sm-7">
    <input list="domaines" name="domaine" value="<%= model.domaine %>">
    <datalist id="domaines">
      <option value="Web Development">
      <option value="Big Data">
      <option value="Cybersecurite">
      <option value="IA">
    </datalist>
  </div>
</div>
  
