<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Node.js Tuto</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>

  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/welcome">Web Development Architecture</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/faq">FAQ</a>
          </li>
      </ul>
      <span class="navbar-text">
        <a class="navbar-brand"><%= displaynickname %></a>
        <a class="btn btn-default btn-danger" href="/logout">Log Out</a>
      </span>
    </nav>